    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ff583e;
    }

    div {
        background-color: #007575;
        display: flex;
        padding: 15px;
    }

    #first {
        background-color: #f4d9aa;
        border: 2px solid black;
        height: 400px;
        width: 400px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #second {
        border: 5px solid white;
        width: 70px;
    }

    #third {
        border: 5px dashed white;
        width: 350px;
    }

    #fourth {
        border: 5px solid white;
        width: 70px;
    }

    .height {
        height: 70px;
    }