body {
    background-color: #FF6347;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.wrapper {
    padding: 25px;
    height: 290px;
    width: 290px;
    border: 2px solid black;
    background-color: #F6DEB3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box {
    background-color: #008080;
    border: 4px solid white;
    height: 65px;
    width: 65px;
}

.lg {
    width: 250px;
    border: 4px dashed white;
}