@keyframes dotRotation {
    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes rodAnimation {
    25% {
        transform: scaleY(2);
    }
}

body {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: #6ABCBE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 1000px;
}

.wrapper>div:first-child {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: dotRotation 1s ease-in-out infinite;
}

.dot {
    margin: 20px 20px;
    background-color: white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.wrapper>div:last-child {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rod {
    height: 120px;
    width: 30px;
    background-color: white;
    margin: 15px;
    animation: rodAnimation 1s ease-in-out infinite;
}

.rod:nth-child(2) {
    animation-delay: 0.1s;
}

.rod:nth-child(3) {
    animation-delay: 0.2s;
}

.rod:nth-child(4) {
    animation-delay: 0.3s;
}

.rod:nth-child(5) {
    animation-delay: 0.4s;
}